.header {
    border-bottom: 1px solid #ECECEC;

    & .container {
            display: flex;
            align-items: center;
        }
}

.menu-nav-icons {
    margin-right: 8px;
    fill: var(--second-text-color);
    transition: fill var(--time) var(--time-funktion);

    @media screen and (min-width: $desctop) {
        margin-right: 10px;
        }

    &:hover,
    &:focus {
            fill: var(--activ-color);
        }

    .contacts-link:hover &,
    .contacts-link:focus & {
            fill: currentColor;
                }
}

.envelope {

    width: 14px;
    height: 10px;

    @media screen and (min-width: $desctop) {
            width: 16px;
            height: 12px;
        }
}

.smartphone {

    width: 10px;
    height: 14px;

    @media screen and (min-width: $desctop) {
        width: 10px;
        height: 16px;
    }
}

.menu-nav .list-link {
    margin-left: 50px;
}

.contacts .list-link {

    @media screen and (min-width: $desctop) {
        margin-left: 40px;
        }
}

.link {
    color: var(--main-text-color);
    transition: color var(--time) var(--time-funktion);

    &:hover,
    &:focus {
            color: var(--activ-color);
        }
}

.current-site {
    position: relative;
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--activ-color);
    border-radius: 2px;
}

.current {
    color: var(--activ-color);
}

.contacts-link {
    color: var(--second-text-color);
    transition: color var(--time) var(--time-funktion);

    &:hover,
    &:focus {
            color: var(--activ-color);
        }
}

.menu-nav {
    display: flex;
    margin-left: 88px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

        @media screen and (max-width: 767px) {
            display: none;
        }
}

.menu-nav .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts .contacts-link {

    display: flex;
    align-items: center;

    @media screen and (min-width: $desctop) {
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
        }
}

.contacts {
    margin-left: 96px;
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
        }

    @media screen and (min-width: $desctop) {
            margin-left: auto;
            gap: 0;
            font-size: 14px;
        }
}