/* Палітра
основний колір тексту - #212121;
додатковий колір тексту - #757575;
колір активності - #2196F3;
білий колір - #FFFFFF;*/

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --activ-color: #2196F3;
    --white-color: #FFFFFF;
    --time: 250ms;
    --time-funktion: cubic-bezier(0.4, 0, 0.2, 1)
}

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;



/* Основні кольори */
$white-color: #fcfcfc;
$black-color: #131313;

/* Колір фону*/
$background-color: #84a278;

/* Колір кнопок */
$default-color: #f8d24e;
$accent-color: #0a8817;
$disabled-color: #ababab;

/* Анімація */
$display-time: 250ms;
$function-time: cubic-bezier(0.4, 0, 0.2, 1);


/* z-index */
$main-index: 1000;
$second-index: 100;
$third-index: 10;

$mob: 480px;
$tab: 768px;
$desk: 1200px;

// .reviews__foto {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 80px;

//     @media screen and (min-width: 768px) {
//         margin-bottom: 100px;
//     }

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 140px;
//     }
// }